@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

/* font-family: 'Space Mono', monospace;
font-family: 'Work Sans', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: #2B2B2B;
  color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/* repeating styles */

.container {
  width: 70%;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

/* header */

header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

nav ul li:last-child {
  margin-left: -20px;
}

nav ul li a {
  color: #fff;
  font-weight: 600;
}

nav ul li a div {
  display: flex;
  align-items: center;
  gap: 13px;
  background: #A259FF;
  border-radius: 20px;
  padding: 5px 25px;
}

/* banner section */

.banner {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  text-transform: capitalize;
}

.banner__title {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  margin-bottom: 20px;
}

.banner__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 30px;
}

.cta__btn {
  padding: 19px 50px;
  background: #A259FF;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.cta__btn:hover {
  transform: scale(0.95);
}

.cta__btn div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.banner__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.banner__item {
  font-size: 23.99px;
  line-height: 160%;  
}

.banner__span {
  display: block;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

.banner__img {
  background: #3B3B3B;
  border-radius: 20px;
  width: 50%;
}

.banner__desc {
  padding: 22px 20px;
}

.banner__desc-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}

.banner__desc_avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* trend */

.section_title {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin-bottom: 10px;
}

.section_subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 60px;
}

.trend_cards {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.trend_card img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.trend_card img:hover {
  transform: scale(0.95);
}

.inner_card {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
}

.card_subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
}